.header-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 30px;   
}

.header-link-1 {
    color: #fff;
    text-decoration: none;
}

.header-link{
    color: #fff;
}

.header-box{
    display: flex;
    gap: 10px;
}